## DATA-6550 Data Bias Project

In [1]:
import pandas as pd

# from sklearn.model_selection import train_test_split

---

### Data Load:

In [2]:
df = pd.read_csv('../../Data/diabetes_data.csv')

In [3]:
df.head(2)

,encounter_id,patient_nbr,race,gender,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,age_catg
0,2278392,8222157,Caucasian,Female,u,u,r,1,41,0,...,No,No,No,No,No,No,No,No,NO,1.0
1,149190,55629189,Caucasian,Female,k,d,o,3,59,0,...,Up,No,No,No,No,No,Ch,Yes,>30,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100111 entries, 0 to 100110
Data columns (total 45 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              100111 non-null  int64
 1   patient_nbr               100111 non-null  int64
 2   race                      100111 non-null  object
 3   gender                    100111 non-null  object
 4   admission_type_id         100111 non-null  object
 5   discharge_disposition_id  100111 non-null  object
 6   admission_source_id       100111 non-null  object
 7   time_in_hospital          100111 non-null  int64
 8   num_lab_procedures        100111 non-null  int64
 9   num_procedures            100111 non-null  int64
 10  num_medications           100111 non-null  int64
 11  number_outpatient         100111 non-null  int64
 12  number_emergency          100111 non-null  int64
 13  number_inpatient          100111 non-null  int64
 14  diag_1                    100111 non-null  object
 15  diag_2                    100111 non-null  object
 16  diag_3                    100111 non-null  object
 17  number_diagnoses          100111 non-null  int64
 18  max_glu_serum             100111 non-null  object
 19  A1Cresult                 100111 non-null  object
 20  metformin                 100111 non-null  object
 21  repaglinide               100111 non-null  object
 22  nateglinide               100111 non-null  object
 23  chlorpropamide            100111 non-null  object
 24  glimepiride               100111 non-null  object
 25  acetohexamide             100111 non-null  object
 26  glipizide                 100111 non-null  object
 27  glyburide                 100111 non-null  object
 28  tolbutamide               100111 non-null  object
 29  pioglitazone              100111 non-null  object
 30  rosiglitazone             100111 non-null  object
 31  acarbose                  100111 non-null  object
 32  miglitol                  100111 non-null  object
 33  troglitazone              100111 non-null  object
 34  tolazamide                100111 non-null  object
 35  insulin                   100111 non-null  object
 36  glyburide-metformin       100111 non-null  object
 37  glipizide-metformin       100111 non-null  object
 38  glimepiride-pioglitazone  100111 non-null  object
 39  metformin-rosiglitazone   100111 non-null  object
 40  metformin-pioglitazone    100111 non-null  object
 41  change                    100111 non-null  object
 42  diabetesMed               100111 non-null  object
 43  readmitted                100111 non-null  object
 44  age_catg                  100111 non-null  float64
dtypes: float64(1), int64(10), object(34)
memory usage: 34.4+ MB

---

### Data Exploration and Visualizations:

In [5]:
# Exploration Code I
# Cells can be added and removed in this section, does NOT need these 3 specific cells

In [6]:
# Exploration Code II

In [7]:
# Visualization Code

---

### Data Preprocessing:

In [8]:
# Features missing more than 80% of values, unreasonable to impute so will drop instead

df.drop(['max_glu_serum', 'A1Cresult'], axis = 1, inplace = True)

In [9]:
# Encode `NO` as 0 for no readmittance and `<30` & `>30` as 1 for readmittance in less than 30 days and in more than 30 days, respectively

df['readmitted'].replace('NO', 0, inplace = True)
df['readmitted'].replace(['<30', '>30'], 1, inplace = True)

In [10]:
# Get feature list of medications

list_meds = df.columns[18:39]

In [11]:
# Get medications that aren't mostly `No`, less than ~85%

for med in list_meds:
    if df[med].value_counts().iloc[0] < 85000:
        print(f'***** {med} *****', '\n')
        print(df[med].value_counts(), '\n')

***** metformin *****

No        80214
Steady    18255
Up         1067
Down        575
Name: metformin, dtype: int64

***** insulin *****

No        46677
Steady    30331
Down      12012
Up        11091
Name: insulin, dtype: int64

In [12]:
# [race]
race_dummies = pd.get_dummies(df['race'], drop_first = False, prefix = 'race', dtype = 'int64')
df = pd.concat([df, race_dummies], axis = 1)

# [gender]
df['gender'].replace(['Female', 'Male'], [0, 1], inplace = True)

# [admission_type_id]
df['admission_type_id'].replace(['k', 'u'], [0, 1], inplace = True)

# [discharge_disposition_id]
discharge_dummies = pd.get_dummies(df['discharge_disposition_id'], drop_first = False, prefix = 'dcd', dtype = 'int64')
df = pd.concat([df, discharge_dummies], axis = 1)

# [admission_source_id]
admission_dummies = pd.get_dummies(df['admission_source_id'], drop_first = False, prefix = 'ads', dtype = 'int64')
df = pd.concat([df, admission_dummies], axis = 1)

# [diag_1]
diag1_dummies = pd.get_dummies(df['diag_1'], drop_first = False, prefix = 'd1', dtype = 'int64')
df = pd.concat([df, diag1_dummies], axis = 1)

# [diag_2]
diag2_dummies = pd.get_dummies(df['diag_2'], drop_first = False, prefix = 'd2', dtype = 'int64')
df = pd.concat([df, diag2_dummies], axis = 1)

# [change]
df['change'].replace(['No', 'Ch'], [0, 1], inplace = True)

# [diabetesMed]
df['diabetesMed'].replace(['No', 'Yes'], [0, 1], inplace = True)

# [metformin]
metformin_dummies = pd.get_dummies(df['metformin'], drop_first = False, prefix = 'met', dtype = 'int64')
df = pd.concat([df, metformin_dummies], axis = 1)

# [insulin]
insulin_dummies = pd.get_dummies(df['insulin'], drop_first = False, prefix = 'ins', dtype = 'int64')
df = pd.concat([df, insulin_dummies], axis = 1)

df = df.drop(['race', 'discharge_disposition_id', 'admission_source_id', 'diag_1', 'diag_2', 'metformin', 'insulin'], axis = 1)

remove_objects = list(df.dtypes[df.dtypes == 'object'].index)
df = df.drop(remove_objects, axis = 1)

In [13]:
X = df.drop('readmitted', axis = 1)
y = df['readmitted']

In [14]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

---

### Data Analysis:

In [ ]:
# Data Analysis I
# Cells can be added and removed in this section, does NOT need these 3 specific cells

In [ ]:
# Data Analysis II

In [ ]:
# Data Analysis III

---